<span 
  onclick=<%= onclick %>
  data-tagname=<%= name %>
  class="text-gray-700 hover:text-gray-400 bg-gray-200 hover:bg-red-100 rounded px-2 py-1 m-1 shadow hover:shadow-none text-center tracking-wide leading-none text-xs font-semibold cursor-pointer select-none">
  <%# name %>
  <%= "&times; #{name}".html_safe %>
</span>