<div class="flex h-screen bg-gray-100 border-blue-800 border-t-4">
  <div class="bg-white mx-auto my-auto shadow-lg rounded-lg overflow-hidden">
    <div class="sm:flex sm:items-center px-6 py-4">
      <div class="text-center sm:text-left sm:flex-grow">
        <h1 class="font-logo text-6xl text-blue-900">Shlopify</h1>
        <p class="text-base leading-tight text-blue-800">The 2nd Best Ecommerce Software Coming Soon</p>
      </div>
    </div>
  </div>
</div>
