<% border = local_assigns.fetch(:border, false) %>
<span class="<%= get_pill_status_style(status, border) %> text-center mr-2 px-4 py-2 tracking-wide leading-none text-xs font-semibold rounded-full">
  <%= text %>
</span>