<div class="px-6 xl:px-12 w-full max-w-3xl mx-auto lg:ml-0 lg:mr-auto xl:mx-0 xl:w-3/4">
  <h1 class="text-3xl">Add Product</h1>
  <div class="bg-white shadow rounded-lg p-4 flex p-8">
    <%= render 'form', admin_product: @admin_product %>
  </div>
</div>